<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.example.dagger2">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".example1.Example1Activity" />
        <activity android:name=".example2.Example2Activity" />
        <activity android:name=".example3.Example3Activity" />
        <activity android:name=".example4.Example4Activity" />
        <activity android:name=".example5.Example5Activity" />
        <activity android:name=".example6.Example6Activity" />
        <activity android:name=".example6.Example6JavaActivity" />
        <activity android:name=".example7.Example7Activity" />
        <activity android:name=".example8.Example8Activity" />
        <activity android:name=".example9.Example9Activity" />
        <activity android:name=".example10.Example10Activity" />
        <activity android:name=".example11.Example11Activity" />
        <activity android:name=".example12.Example12Activity" />
        <activity android:name=".example13.Example13Activity" />
        <activity android:name=".example14.Example14Activity" />
        <activity android:name=".example15.Example15Activity" />
        <activity android:name=".example16.Example16Activity" />
        <activity android:name=".example17.Example17Activity" />
        <activity android:name=".example18.Example18Activity" />
        <activity android:name=".example19.Example19Activity" />
    </application>

</manifest>